*{
  margin: 0;
  padding: 0;
}

html,body{
  height: 100%;
  padding: 0;
  margin: 0;
  font-style: normal;
  font-size: 12px;
  background-image: url('../res/background/fondo.jpg');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.main{
padding-top: 5%;
}

.btn-group button{
  color: #000000;
  font-family: "Century";
  background-color: rgba(122, 122, 122, 0.3);
  text-align: center;
  font-weight: bold;
  font-size: 19px;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-width: 0px;
}

.btn-group .btn:hover, .btn-group .btn:active {
  background-color: rgba(122, 122, 122, 0.5);
  color: #FFBF00;
}

.app-header{
  color: #000000;
  font-family: "Century";
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: bold;
  font-variant: normal;
  text-align: center;
}
