<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explorando La Independencia | Menu Principal</title>
    <link rel="stylesheet" href="../styles/common.css">
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
</head>
<body>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main">
      <div class="app-header col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span class="col-lg-12 co-md-12 col-sm-12 col-xs-12">
          Explorando La Independencia
        </span>
      </div>
      <div class="btn-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <button id="goto-main" class="btn col-lg-12 col-md-12 col-sm-12 col-xs-12">Iniciar Partida</button>
        <button id="goto-howto" class="btn col-lg-12 col-md-12 col-sm-12 col-xs-12">Como jugar</button>
        <button id="top10-btn" class="btn col-lg-12 col-md-12 col-sm-12 col-xs-12">Top 10</button>
        <button id="close-btn" class="btn col-lg-12 col-md-12 col-sm-12 col-xs-12">Cerrar el Juego</button>
      </div>
    </div>
    <script src="../app/jquery-3.1.1.min.js"></script>
    <script src="../app/main.js"></script>
</body>
</html>
